.DS_Store
AASwiftSDK.xcodeproj/project.xcworkspace/xcuserdata/bclifton.xcuserdatad/UserInterfaceState.xcuserstate
AASwiftSDK.xcodeproj/xcuserdata/bclifton.xcuserdatad/xcschemes/xcschememanagement.plist
.bash_profile
